<div class="row">
  <div class="col-xs-6 col-md-3">
    <% if (can? :delete, Collection) %>
      <%= link_to 'Delete Collection', collection_path(@collection),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <% if can? :update, Collection %>
      <%= link_to('Edit Collection', edit_collection_path(@collection.id)) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <% if can? :create, Product %>
      <%= link_to('New Product', new_collection_product_path(@collection.id)) %>
    <% end %>
  </div>
</div>

<p>
<div>
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <tr>
        <td><%= product.title %></td>
        <% if can? :update, product %>
          <td><%= link_to('Edit Product', edit_collection_product_path(@collection.id, product.id)) %></td>
        <% end %>
        <% if can? :delete, product %>
          <td>
            <%= link_to 'Delete Product', collection_product_path(@collection.id, product.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    </div>
  <% end %>
</div>